{% load static %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>{% block title %}Welcome Title{% endblock %}</title>

  <h1>MasterPOP.cmpo</h1>

</head>
<body>
  <header>


    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li class="dropdown">
          <a href="#">Dropdown 1</a>
          <div class="dropdown-content">
            <ul>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
            </ul>
          </div>
        </li>
        <li class="mega-dropdown">
          <a href="#">Dropdown 2</a>
          <div class="mega-dropdown-content">
            <div class="row">
              <div class="col">
                <h3>Column 1</h3>
                <ul>
                  <li><a href="#">Link 1</a></li>
                  <li><a href="#">Link 2</a></li>
                  <li><a href="#">Link 3</a></li>
                </ul>
              </div>
              <div class="col">
                <h3>Column 2</h3>
                <ul>
                  <li><a href="#">Link 1</a></li>
                  <li><a href="#">Link 2</a></li>
                  <li><a href="#">Link 3</a></li>
                </ul>
              </div>
              <div class="col">
                <h3>Column 3</h3>
                <ul>
                  <li><a href="#">Link 1</a></li>
                  <li><a href="#">Link 2</a></li>
                  <li><a href="#">Link 3</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

  <footer>
    <p>&copy; 2023 MasterPOP.cmpo</p>
  </footer>
  
  <script src=" {% static 'js/main.js' %} "  ></script>
</body>
</html>
